@use "@angular/material" as mat;
@use "./app/core/layout/layout.component.theme" as layout-theme;

@include mat.core();

$light-theme: mat.define-theme(
  (
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
  )
);
$dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$magenta-palette,
      tertiary: mat.$violet-palette,
    ),
  )
);

html {
  @include mat.all-component-themes($light-theme);
  @include layout-theme.theme($light-theme);

  background: mat.get-theme-color($light-theme, surface);

  &.dark {
    @include mat.all-component-colors($dark-theme);
    @include layout-theme.theme($dark-theme);

    background: mat.get-theme-color($dark-theme, surface);
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
